// required libs
@import "compass";
@import "normalize";
@import "mixins";

@import "range-control";

.wrap {
	max-width: 600px;
	padding: 200px 20px 0;
	margin: 0 auto;
	& > div {
		margin-bottom: 100px;
	}
}

